{% load i18n %}
<div class="row">
	<div class="panel-item stub">
		<div class="col-xs-6 col-sm-3">
			<div class="col-md-offset-4">
				{{account.id}}
			</div>
		</div>
		<div class="col-xs-6 col-sm-3">
			{{account.account_type}}
		</div>
		<div class="col-xs-6 col-sm-3">
			{{account.money}}
		</div>
		<div class="col-xs-6 col-sm-3">
			{{account.date_created}}
		</div>
	</div>
</div>