{% if not no_csrf %}
	{% csrf_token %}
{% endif %}
{% for field in form %}
	{% if field.name in fields_to_show or not fields_to_show %}
	<div class="form-group{% if field.errors %} has-error{% endif %}{% if field.field.required %} field-required{% endif %}">
		<label class="control-label" for="id_{{ field.name }}">
			{{ field.label }}:
		</label>
		<div class="alert-danger">{{ field.errors|striptags }}</div>
		{{ field }}
		<div class="text-muted"><small>{{ field.help_text }}</small></div>
	</div>
	{% endif %}
{% endfor %}