{% load staticfiles %}
{% load i18n %}

<div class="container-fluid">
	<div class="row">
		<nav class="navbar navbar-default navbar-fixed-top navbar-main">
			<div class="col-lg-12">
				<div class="navbar-header pull-left">
					<a class="navbar-brand" href="{% url 'account' %}">
						HOME
						<span class="version-text text-center"></span>
					</a>
					<ul id="user_menu" class="nav navbar-nav pull-right">
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
								<span>{{ user.username }}</span>
							</a>
								<li><a href="{% url 'sign-out' %}"><img class="glyph" >{% trans "Log out" %}</a></li>
						</li>
					</ul>
				</div>
			</div>
		</nav>
	</div>
</div>

