{% load staticfiles %}
{% load i18n %}
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.min.css' %}" />
		<link href='https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900italic,900&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
		<script type="text/javascript" src="{% static 'js/bank.js' %}"></script>
		<title>Account</title>
	</head>
	<body>
		<div class="container-fluid">
			<div class="row">
				{% include "_main-menu.html" %}
			</div>
		</div><br><br><br>
		<div class="container-fluid">
			<div class="row">
                <div id="left-content" class="col-xs-12 col-sm-2 col-md-2 col-lg-2">

                </div>
                <div class="col-xs-offset-0 col-xs-12 col-sm-offset-2 col-sm-10 col-md-offset-2 col-md-10 col-lg-offset-2 col-lg-10">
    				<div  id="main-content" class="col-xs-12 col-sm-12 col-md-12 col-lg-9">
						<div class="center-block">
							<div class="tab-content">
								<div role="tabpanel" class="tab-pane" id="#details"></div>
								<div role="tabpanel" class="tab-pane active" id="#accounts">
									<div>
										<p class="text-left">
											<a class="btn btn-primary" href="{% url 'account-new' %}">{% trans "New Account" %}</a>
											<a class="btn btn-primary" href="{% url 'transaction-new' %}">{% trans "New Transaction" %}</a>
											<a class="btn btn-primary" id="report_btn" href="{% url 'report-dialog' %}">{% trans "Send Report" %}</a>
										</p>
										<hr>
									</div>
								</div>							
							</div>
						</div>
    				</div>
                </div>
					<div class="panel">
						<div class="panel-body">
						<div class="panel-heading hidden-xs">
						    <div class="col-xs-6 col-sm-3">
						        <h4 class="ellipsis">
						            {% trans 'Identification number' %}
						        </h4>
						    </div>
						    <div class="col-xs-6 col-sm-3">
						        <h4 class="ellipsis">
						            {% trans 'Type' %}
						        </h4>
						    </div>
						    <div class="col-xs-6 col-sm-3">
						        <h4 class="ellipsis">
						            {% trans 'Amount of money' %}
						        </h4>
						    </div>
						    <div class="col-xs-6 col-sm-3">        
						        <h4 class="ellipsis">
						            {% trans 'Date created' %}
						        </h4>
						    </div>
						    <div class="clearfix"></div>
						</div>
							{% for account in object_list %}
								{% include "_account-item.html" %}
							{% empty %}
								{% trans "Nu ai încă niciun cont in baza de date" %}.
							{% endfor %}				
						</div>	
					</div>
				<div  id="side-content" class="col-sm-3 side-col">
				</div>
			</div>
		</div>
	</body>
</html>