{% extends "base-auth.html" %}
{% load i18n %}

{% block title %}{% trans "Înregistrare" %}{% endblock %}

{% block content %}
<h1 class="text-center">{% trans "Înregistrare" %}</h1>
<div class="centerbox box-shadow--2dp">
	<form action="" method="post">
		{% include "_auto-form-fields.html" %}
		<button type="submit" class="btn btn-primary btn-lg btn-block">{% trans "Înregistrare" %}</button>
	</form>
</div>
{% endblock %}