{% load staticfiles %}
{% load i18n %}
<!DOCTYPE html>
<html>
    <head>
    <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.min.css' %}" />
        <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900italic,900&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <title>Report</title>
    </head>
    <body>
        <div class="container-fluid">
            <div class="row">
                {% include "_main-menu.html" %}
            </div>
        </div><br><br><br>
        <div class="container-fluid">
            <div class="row">
                <div id="left-content" class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
              
                </div>
                <div class="col-xs-offset-0 col-xs-12 col-sm-offset-2 col-sm-10 col-md-offset-2 col-md-10 col-lg-offset-2 col-lg-10">
                    <div  id="main-content" class="col-xs-12 col-sm-12 col-md-12 col-lg-9">
                        <form action="" method="post">
                            {% include "_auto-form-fields.html" %}
                            <button type="submit" class="btn btn-primary">{% trans "Send" %}</button>
                        </form>
                    </div>
                </div>
                <div  id="side-content" class="col-sm-3 side-col">
                </div>
            </div>
        </div>
    </body>
</html>