{% extends "base-auth.html" %}
{% load i18n %}
{% block title %}{% trans "Autentificare" %}{% endblock %}
{% block content %}
	<h1 class="text-center">{% trans "Autentificare" %}</h1>
	<div class="centerbox box-shadow--2dp">
		<form action="" method="post">
			{% csrf_token %}
			{% include "_auto-form-fields.html" %}
			<div class="row">
				<div class="col-md-6">
					<label for="remember" data-toggle="tooltip" title="Timp de {{ request.session.get_expiry_date|timeuntil }}. Dacă deselectezi, sesiunea ta expiră atunci când închizi browser-ul.">
					</label>
				</div>
				<div class="col-md-6 text-right">
					<button type="submit" class="btn btn-primary">{% trans "Autentificare" %}</button>
				</div>
			</div>
		</form>
	</div>
	<div class="text-center vert-spacer">
		<p><b>{% trans 'Nu ai cont?' %}</b></p>
		<p><a href="{% url "register" %}"><u>{% trans "Creează cont nou" %}</u></a></p>
	</div>
{% endblock %}