{% load staticfiles %}
{% load i18n %}
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" type="text/css" href="{% static 'restaurant_home/bootstrap/css/bootstrap.min.css' %}" />
		<script type="text/javascript" src="{% static 'restaurant_home/js/jquery/jquery.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'restaurant_home/bootstrap/js/bootstrap.min.js' %}"></script>
		<title>{% trans "Order List" %}</title>
	</head>
	<body>
		<div class="container">
			<div class="container-fluid">
				<div class="row text-right">
					<form method="get" action="{% url 'sign-out' %}">
						<button type="submit">{% trans "Ieșire" %}</button>
					</form>
				</div>
			</div>
		</div>
		<div class="container-fluid">
			<div class="row">
                <div id="left-content" class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
                </div>
                <div class="col-xs-offset-0 col-xs-12 col-sm-offset-2 col-sm-10 col-md-offset-2 col-md-10 col-lg-offset-2 col-lg-10">
    				<div  id="main-content" class="col-xs-12 col-sm-12 col-md-12 col-lg-9">
						<hr>
						<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
							{% for order in object_list %}
								<div class="panel panel-default">
									<div class="panel-heading panel-collapsible collapsed" role="tab" id="heading{{ forloop.counter }}" data-toggle="collapse" data-parent="#accordion" href="#collapse{{ forloop.counter }}" style="color:{% if order.delivered %}blue{% else %}red{% endif %};">
										<h3>
											{{ order.orderTime }}
										</h3>
									</div>
									<div id="collapse{{ forloop.counter }}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading{{ forloop.counter }}">
										<div class="panel-body">
											<h4>
												<a class="btn btn-default" href="{% url 'order-detail' pk=order.pk %}"><i class="fa fa-edit"></i> {% trans 'Modifica comanda' %}</a>
											</h4>
											<hr>
											<div id="details" class="panel-body-pad">
												<p>{% trans "id: " %}{{order.id}}</p> 
												<p>{% trans "adresa: " %}{{order.address}}</p>
												<p>{% trans "detalii: " %}{{order.details}}</p>
												<p>{% trans "livrata: " %}{{order.delivered}}</p>
											</div>
										</div>
									</div>
								</div>

							{% empty %}
								{% trans "Nu ai încă nici o comanda." %}
							{% endfor %}
						</div>
						</div>
    				</div>
                </div>
				<div  id="side-content" class="col-sm-3 side-col">
				</div>
			</div>
		</div>
	</body>
</html>

