{% load staticfiles %}
{% load i18n %}
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" type="text/css" href="{% static 'restaurant_home/bootstrap/css/bootstrap.min.css' %}" />
		<script type="text/javascript" src="{% static 'restaurant_home/js/jquery/jquery.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'restaurant_home/bootstrap/js/bootstrap.min.js' %}"></script>
		<title>{% trans "Autentificare" %}</title>
	</head>
	<body>
		<div class="container-fluid">
			<div class="row">
				<div class="col-xs-12 col-sm-offset-2 col-sm-8 col-md-offset-4 col-md-5 col-lg-offset-4 col-lg-4">
					<h1 class="text-center">{% trans "Autentificare" %}</h1>
					<div class="centerbox box-shadow--2dp">
						<form action="" method="post">
							{% csrf_token %}
							{% for field in form %}
								{% if field.name in fields_to_show or not fields_to_show %}
								<div class="form-group{% if field.errors %} has-error{% endif %}{% if field.field.required %} field-required{% endif %}">
									<label class="control-label" for="id_{{ field.name }}">
										{{ field.label }}:
									</label>
									<div class="alert-danger">{{ field.errors|striptags }}</div>
									{{ field }}
									<div class="text-muted"><small>{{ field.help_text }}</small></div>
								</div>
								{% endif %}
							{% endfor %}
							<div class="row">
								<div class="col-md-6">
									<label for="remember" data-toggle="tooltip" title="Timp de {{ request.session.get_expiry_date|timeuntil }}. Dacă deselectezi, sesiunea ta expiră atunci când închizi browser-ul.">
									</label>
								</div>
								<div class="col-md-6 text-right">
									<button type="submit" class="btn btn-primary">{% trans "Autentificare" %}</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
