{% load staticfiles %}
{% load i18n %}
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" type="text/css" href="{% static 'restaurant_home/bootstrap/css/bootstrap.min.css' %}" />
		<script src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
		<script type="text/javascript" src="{% static 'restaurant_home/bootstrap/js/bootstrap.min.js' %}"></script>
		<title>{% trans "Brb Restaurant" %}</title>
	</head>
	<body>
		<div class="container-fluid">
			<div class="row">
				<div class="col-xs-12 col-sm-offset-2 col-sm-8 col-md-offset-4 col-md-5 col-lg-offset-4 col-lg-4">
					<div class="centerbox box-shadow--2dp">
						<form action="" method="put">
							{% csrf_token %}
							{% for field in form %}
								{% if field.name in fields_to_show or not fields_to_show %}
								<div class="form-group{% if field.errors %} has-error{% endif %}{% if field.field.required %} field-required{% endif %}">
									<label class="control-label" for="id_{{ field.name }}">
										{{ field.label }}:
									</label>
									<div class="alert-danger">{{ field.errors|striptags }}</div>
									{{ field }}
									<div class="text-muted"><small>{{ field.help_text }}</small></div>
								</div>
								{% endif %}
							{% endfor %}
							<div id="id_object" class="hidden">
								<p>{{object.pk}}</p>
							</div>
							<div class="row">
								<div class="col-md-6">
									<label for="remember" data-toggle="tooltip" title="Timp de {{ request.session.get_expiry_date|timeuntil }}. Dacă deselectezi, sesiunea ta expiră atunci când închizi browser-ul.">
									</label>
								</div>
								<div class="col-md-6 text-right">
									<button id="submit" type="submit" class="btn btn-primary">{% trans "Modifica" %}</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>

		<script>
			//When submit is clicked
			 $("#submit").click(function(e) {
			//Prevent default submit. Must for Ajax post.Beginner's pit.
			 e.preventDefault();

			//Collect data from fields
			 var delivered = $('#id_delivered').is(':checked') ? true: false;
			 var id_object = $('#id_object p').text();

			//This is the Ajax post.Observe carefully. It is nothing but details of where_to_post,what_to_post
			//Send data  
			 $.ajax({
			       url : "http://192.168.33.10:8000/api/v1/order/" + id_object + "/", // the endpoint,commonly same url
			       type : "PUT", // http method
			       dataType: "application/json",
			       contentType: "application/json",
			       data : JSON.stringify({
			       						 "delivered": delivered
			       						}), // data sent with the put request
			 });

			 
			});
		</script>

	</body>
</html>
