{% load i18n %}
{% load staticfiles %}
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" type="text/css" href="{% static 'restaurant_home/bootstrap/css/bootstrap.min.css' %}" />
		<link rel="stylesheet" type="text/css" href="{% static 'restaurant_home/css/style.css' %}" />
		<script type="text/javascript" src="{% static 'restaurant_home/js/jquery/jquery.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'restaurant_home/bootstrap/js/bootstrap.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'restaurant_home/js/support.js' %}"></script>
		<script src="https://maps.googleapis.com/maps/api/js"></script>
		<title>{% trans "Brb Restaurant" %}</title>
	</head>
	<body>
		<div class="container">
			<div class="container-fluid">
				<div class="row text-right">
					<form method="get" action="{% url 'sign-out' %}">
						<button type="submit">{% trans "Ieșire" %}</button>
					</form>
				</div>
			</div>
		</div>
		<div class="container" id="about">
			<div class="container-fluid">
				<h1 class="text-center" >{% trans 'Despre noi'%}</h1>
				<div class="col-md-8">
					<div class="center-block">
					<p>Strada George Barițiu 28, Cluj-Napoca 400000, România:<br>
						Tel: +39 373 527 91 27<br>
						E-mail: brbrestaurant@gmail.com
					</p>
				</div>
				</div>
				<div class="col-md-4">
					<div id="map"></div>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="container-fluid">
				<div class="row">
					<form action="" method="post">{% csrf_token %}
						
							<div class="form-group{% if field.errors %} has-error{% endif %}{% if field.field.required %} field-required{% endif %}">
							{% for field in form %}
								{% ifequal field.label|lower 'fooditems' %}
									{% for item in field %}
										<div class="row" id="form-row">
											{{item}} RON
										</div>
									{% endfor %}
								{% else %}
								<label class="control-label" for="id_{{ field.name }}">
									{{ field.label }}:
								</label>
									{{field}}
								{% endifequal %}
							{% endfor %}
							</div>
						
						<button type="submit" class="btn btn-primary">{%  trans "Trimite comanda" %}</button>
					</form>
				</div>
			</div>

		</div>


		
	</body>
</html>
