{% load i18n %}
{% load staticfiles %}
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" type="text/css" href="{% static 'restaurant_home/bootstrap/css/bootstrap.min.css' %}" />
		<link rel="stylesheet" type="text/css" href="{% static 'restaurant_home/css/style.css' %}" />
		<script type="text/javascript" src="{% static 'restaurant_home/js/jquery/jquery.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'restaurant_home/bootstrap/js/bootstrap.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'restaurant_home/js/support.js' %}"></script>
		<script src="https://maps.googleapis.com/maps/api/js"></script>
		<title>{% trans "Brb Restaurant" %}</title>
	</head>
	<body>
		<div class="container">
			<div class="row">
				<div id="menu">
					{% load socialaccount %}
					{% providers_media_js %}
					{% csrf_token %}
					<a href="{% provider_login_url "facebook" method="js_sdk" next='/customer' %}">Facebook Connect</a>

				</div>
			</div>
		</div>
		<div class="container-fluid">
			<div class="row">
				<div id="jumbotron">
					<div class="container-fluid">
						<div class="row">
							<div id="home-main">
								<div class="col-lg-12">
									<div class="col-md-8 col-lg-7">
										<h1>{% trans "Iti este foame?" %}</h1>
										<h4>
											{% blocktrans %}
											Comanda ceva de mancare
											{% endblocktrans %}
										</h4>
										{% load socialaccount %}
										{% providers_media_js %}
										{% csrf_token %}
										<a class="btn btn-default" href="{% provider_login_url "facebook" method="js_sdk" next='/customer' %}">{% trans 'Du-ma la meniu' %}</a>
										<div class="vert-spacer"></div>
									</div>
								</div>
							</div>
						</div>
						<div class="container-fluid">
							<div class="row vert-spacer">
								<div class="col-md-8 col-md-offset-2">
									<h1 class="text-right" id="main-text">{% trans 'Brb Restaurant'%}</h1>
									<div class="text-center vert-spacer">
										
									</div>
								</div>
							</div>
							<hr>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="container" id="about">
			<div class="container-fluid">
				<h1 class="text-center" >{% trans 'Despre noi'%}</h1>
				  <div class="col-md-8">
				  	<div class="center-block">
						<p>Strada George Barițiu 28, Cluj-Napoca 400000, România:<br>
							Tel: +39 373 527 91 27<br>
							E-mail: brbrestaurant@gmail.com
						</p>
					</div>
				  </div>
				  <div class="col-md-4">
				  	<div id="map"></div>
				  </div>
					
				</div>
		</div>

		
	</body>
</html>
