html {
	position: relative;
    min-height: 100%;
}
body{
	font-family: anke;
}
#jumbotron {
	position: relative;
	margin-bottom: 0px;
	background-image: url(../img/food/food1.jpg);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	color: white;
	text-shadow: black 0.3em 0.3em 0.3em;
	height: 90vh;
}
#main-text{
	margin-top:55vh;
	color: cyan;
}

 #map {
	width: 20vw;
	height: 40vh;
}

#about{
	margin-top: 50px;
}

#form-row{
	margin-top: 20px;
}